body {
  font-family: Arial;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#next-btn {
  background: teal;
  color: white;
}